<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.arpitas.persiancalender">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>

    <application
        android:name="com.arpitas.persiancalender.ApplicationContexts"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_sec_config"
        android:supportsRtl="true"
        android:theme="@style/DarkTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="n">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false"/>

        <activity
            android:name="com.arpitas.persiancalender.activity.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.arpitas.persiancalender.activity.FirstActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.arpitas.persiancalender.activity.AthanActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.arpitas.persiancalender.activity.DialogActivity"
            android:launchMode="singleTop"
            android:theme="@style/DarkTheme_dialog"/>

        <receiver
            android:name="com.arpitas.persiancalender.service.BroadcastReceivers"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.PHONE_0STATE"/>
                <action android:name="android.intent.action.SCREEN_OFF"/>
                <action android:name="android.intent.action.SCREEN_ON"/>
                <action android:name="android.intent.action.DATE_CHANGED"/>
                <action android:name="android.intent.action.TIME_SET"/>
            </intent-filter>
        </receiver>

        <service
            android:name="com.arpitas.persiancalender.service.ApplicationService"
            android:label="Calendar Service"/>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3617501674073796~4187072509" />
    </application>

</manifest>